In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('max_column',None)
db= pd.read_csv('/home/eyerusalem/Documents/10Academy-week-1-challenge/data/Week1_challenge_data_source(CSV).csv', na_values= ['?', None])
db.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,NaN,NaN,44.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,3330.0,37882.0,1.321510e+09,undefined,undefined,NaN,NaN,NaN,NaN,NaN,NaN,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [3]:
db.shape[1],db.shape[0]

(55, 150001)

In [4]:
def percent_missing(df):
    totalcells= np.product(df.shape)
   
    missingCount= df.isnull().sum()
    #print(missingCount)
    totalMissing= missingCount.sum()
    print("The telecom data contains", round(((totalMissing/totalcells)*100),3),"%" ,"missing values")

In [5]:
percent_missing(db['Nb of sec with 6250B < Vol UL < 37500B'])

The telecom data contains 74.562 % missing values

In [6]:
db.isna().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [7]:
df_clean= db.drop(['Nb of sec with 125000B < Vol DL' ,'Nb of sec with 1250B < Vol UL < 6250B', 'Nb of sec with 31250B < Vol DL < 125000B','Nb of sec with 37500B < Vol UL' ,'Nb of sec with 6250B < Vol DL < 31250B', 'Nb of sec with 6250B < Vol UL < 37500B','Nb of sec with 6250B < Vol UL < 37500B'], axis=1)

In [13]:
df_clean.shape

(150001, 49)

In [14]:
#remove rows that have nans in the bearer id and msisdn number columns
df = df_clean[~np.isnan(db['Bearer Id'])]
df = df_clean[~np.isnan(db['MSISDN/Number'])]

In [20]:
# Now which column(s) has missing values
df.isna().sum()

Bearer Id                             0
Start                                 0
Start ms                              0
End                                   0
End ms                                0
Dur. (ms)                             0
IMSI                                  0
MSISDN/Number                         0
IMEI                                  0
Last Location Name                    0
Avg RTT DL (ms)                   27644
Avg RTT UL (ms)                   27625
Avg Bearer TP DL (kbps)               0
Avg Bearer TP UL (kbps)               0
TCP DL Retrans. Vol (Bytes)       87796
TCP UL Retrans. Vol (Bytes)       96192
DL TP < 50 Kbps (%)                 720
50 Kbps < DL TP < 250 Kbps (%)      720
250 Kbps < DL TP < 1 Mbps (%)       720
DL TP > 1 Mbps (%)                  720
UL TP < 10 Kbps (%)                 767
10 Kbps < UL TP < 50 Kbps (%)       767
50 Kbps < UL TP < 300 Kbps (%)      767
UL TP > 300 Kbps (%)                767
HTTP DL (Bytes)                   81171
HTTP UL (Bytes)                   81508
Activity Duration DL (ms)             0
Activity Duration UL (ms)             0
Dur. (ms).1                           0
Handset Manufacturer                  0
Handset Type                          0
Nb of sec with Vol DL < 6250B       721
Nb of sec with Vol UL < 1250B       768
Social Media DL (Bytes)               0
Social Media UL (Bytes)               0
Google DL (Bytes)                     0
Google UL (Bytes)                     0
Email DL (Bytes)                      0
Email UL (Bytes)                      0
Youtube DL (Bytes)                    0
Youtube UL (Bytes)                    0
Netflix DL (Bytes)                    0
Netflix UL (Bytes)                    0
Gaming DL (Bytes)                     0
Gaming UL (Bytes)                     0
Other DL (Bytes)                      0
Other UL (Bytes)                      0
Total UL (Bytes)                      0
Total DL (Bytes)                      0
dtype: int64

In [16]:
df['Bearer Id'] = df['Bearer Id'].apply(lambda x: '{:.0f}'.format(x))
df['Bearer Id'] = df['Bearer Id'].astype('str')

df["Start"]=pd.to_datetime(df["Start"], format='%m/%d/%Y %H:%M', errors='coerce')
df["End"]=pd.to_datetime(df["End"], format='%m/%d/%Y %H:%M', errors='coerce')

df['MSISDN/Number'] = df['MSISDN/Number'].apply(lambda x: '{:.0f}'.format(x))
df['MSISDN/Number'] = df['MSISDN/Number'].astype('str')

df['IMSI'] = df['IMSI'].apply(lambda x: '{:.0f}'.format(x))
df['IMSI'] = df['IMSI'].astype('str')

df['IMEI'] = df['IMEI'].apply(lambda x: '{:.0f}'.format(x))
df['IMEI'] = df['IMEI'].astype('str')

df['Handset Manufacturer'] = df['Handset Manufacturer'].astype('str')
df['Last Location Name'] = df['Last Location Name'].astype('str')

df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460844900352,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,208201448079117,33664962239,35521209507511,9.16456699548519E+015,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,13114483482878900224,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,208201909211140,33681854413,35794009006359,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,13114483484080500736,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,208200314458056,33760627129,35281510359387,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,13114483485442799616,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,208201402342131,33750343200,35356610164913,T21824A,NaN,NaN,44.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,3330.0,37882.0,1.321510e+09,undefined,undefined,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,13114483499480700928,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,208201401415120,33699795932,35407009745539,D88865A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148935 entries, 0 to 149999
Data columns (total 49 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       148935 non-null  object
 1   Start                           148935 non-null  datetime64[ns]
 2   Start ms                        148935 non-null  float64
 3   End                             148935 non-null  datetime64[ns]
 4   End ms                          148935 non-null  float64
 5   Dur. (ms)                       148935 non-null  float64
 6   IMSI                            148935 non-null  object
 7   MSISDN/Number                   148935 non-null  object
 8   IMEI                            148935 non-null  object
 9   Last Location Name              148935 non-null  object
 10  Avg RTT DL (ms)                 121291 non-null  float64
 11  Avg RTT UL (ms)                 121310 non-null  float64
 12  Avg Bearer TP DL (kbps)         148935 non-null  float64
 13  Avg Bearer TP UL (kbps)         148935 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)     61139 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)     52743 non-null   float64
 16  DL TP < 50 Kbps (%)             148215 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)  148215 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)   148215 non-null  float64
 19  DL TP > 1 Mbps (%)              148215 non-null  float64
 20  UL TP < 10 Kbps (%)             148168 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)   148168 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)  148168 non-null  float64
 23  UL TP > 300 Kbps (%)            148168 non-null  float64
 24  HTTP DL (Bytes)                 67764 non-null   float64
 25  HTTP UL (Bytes)                 67427 non-null   float64
 26  Activity Duration DL (ms)       148935 non-null  float64
 27  Activity Duration UL (ms)       148935 non-null  float64
 28  Dur. (ms).1                     148935 non-null  float64
 29  Handset Manufacturer            148935 non-null  object
 30  Handset Type                    148935 non-null  object
 31  Nb of sec with Vol DL < 6250B   148214 non-null  float64
 32  Nb of sec with Vol UL < 1250B   148167 non-null  float64
 33  Social Media DL (Bytes)         148935 non-null  float64
 34  Social Media UL (Bytes)         148935 non-null  float64
 35  Google DL (Bytes)               148935 non-null  float64
 36  Google UL (Bytes)               148935 non-null  float64
 37  Email DL (Bytes)                148935 non-null  float64
 38  Email UL (Bytes)                148935 non-null  float64
 39  Youtube DL (Bytes)              148935 non-null  float64
 40  Youtube UL (Bytes)              148935 non-null  float64
 41  Netflix DL (Bytes)              148935 non-null  float64
 42  Netflix UL (Bytes)              148935 non-null  float64
 43  Gaming DL (Bytes)               148935 non-null  float64
 44  Gaming UL (Bytes)               148935 non-null  float64
 45  Other DL (Bytes)                148935 non-null  float64
 46  Other UL (Bytes)                148935 non-null  float64
 47  Total UL (Bytes)                148935 non-null  float64
 48  Total DL (Bytes)                148935 non-null  float64
dtypes: datetime64[ns](2), float64(40), object(7)
memory usage: 56.8+ MB

# Handsets

## The top 10 handsets used by the customers

In [38]:
top10= df[['Handset Type', 'IMSI']].groupby('Handset Type')
top10= top10['IMSI'].nunique().nlargest(10)
top10.head(10)

Handset Type
Huawei B528S-23A                10616
Apple iPhone 6S (A1688)          6759
undefined                        6671
Apple iPhone 6 (A1586)           6260
Apple iPhone 7 (A1778)           4699
Apple iPhone Se (A1723)          3755
Apple iPhone 8 (A1905)           3543
Samsung Galaxy S8 (Sm-G950F)     3245
Apple iPhone Xr (A2105)          3072
Samsung Galaxy J5 (Sm-J530)      2748
Name: IMSI, dtype: int64

## The top 3 handset manufacturers

In [29]:
df[['Handset Manufacturer','IMSI']].groupby(['Handset Manufacturer'])['IMSI'].nunique().nlargest(3)

Handset Manufacturer
Apple      42591
Samsung    30780
Huawei     21692
Name: IMSI, dtype: int64

## The top 5 handsets per top 3 handset manufacturer

In [30]:
#Apple
df[df['Handset Manufacturer']=='Apple'].groupby(['Handset Type'])['IMSI'].nunique().nlargest(5)

Handset Type
Apple iPhone 6S (A1688)    6759
Apple iPhone 6 (A1586)     6260
Apple iPhone 7 (A1778)     4699
Apple iPhone Se (A1723)    3755
Apple iPhone 8 (A1905)     3543
Name: IMSI, dtype: int64

In [31]:
#Samsung
df[df['Handset Manufacturer']=='Samsung'].groupby(['Handset Type'])['IMSI'].nunique().nlargest(5)

Handset Type
Samsung Galaxy S8 (Sm-G950F)    3245
Samsung Galaxy J5 (Sm-J530)     2748
Samsung Galaxy A5 Sm-A520F      2708
Samsung Galaxy J3 (Sm-J330)     2589
Samsung Galaxy S7 (Sm-G930X)    2292
Name: IMSI, dtype: int64

In [32]:
#Huawei
df[df['Handset Manufacturer']=='Huawei'].groupby(['Handset Type'])['IMSI'].nunique().nlargest(5)

Handset Type
Huawei B528S-23A                  10616
Huawei P20 Lite Huawei Nova 3E     1531
Huawei E5180                       1182
Huawei P20                         1109
Huawei Y6 2018                      757
Name: IMSI, dtype: int64

# TASK 1.1: Aggregate by user

## Number of sessions per user

In [53]:
# Aggregating per user the number of xDR session column
df_session_count = df.groupby(['MSISDN/Number'])['Bearer Id'].agg(['count'])
df_session_count.head()

               count
MSISDN/Number
3197020876596      1
33601001722        1
33601001754        1
33601002511        1
33601007832        1

## Session Duration

In [54]:
# Aggregating per user the Session duration column
df_session_duration = df.groupby(['MSISDN/Number'])['Dur. (ms)'].agg(['sum'])
df_session_duration.head()

                    sum
MSISDN/Number
3197020876596  877385.0
33601001722    116720.0
33601001754    181230.0
33601002511    134969.0
33601007832     49878.0

## Total Data Uploaded and Downloaded

In [58]:
df_total_data = df.groupby(['MSISDN/Number'])['Total UL (Bytes)', 'Total DL (Bytes)'].sum()
df_total_data.head()

               Total UL (Bytes)  Total DL (Bytes)
MSISDN/Number
3197020876596        37295915.0       194828056.0
33601001722          36053108.0       842637466.0
33601001754          36104459.0       120755184.0
33601002511          39306820.0       556659663.0
33601007832          20327526.0       401993172.0

## Total data volume (in Bytes) during this session for each application

In [61]:
# adding two columns and forming a new column
def adding_columns(name,column1,column2):
    df[name] = df_clean[column1] + df_clean[column2]
    return
adding_columns(name='Total_UL_DL',column1='Total UL (Bytes)',column2='Total DL (Bytes)')
adding_columns(name='Social Media_UL_DL',column1='Social Media DL (Bytes)',column2='Social Media UL (Bytes)')
adding_columns(name='Google_UL_DL',column1='Google DL (Bytes)',column2='Google UL (Bytes)')
adding_columns(name='Email_UL_DL',column1='Email DL (Bytes)',column2='Email DL (Bytes)')
adding_columns(name='Youtube_UL_DL',column1='Youtube DL (Bytes)',column2='Youtube DL (Bytes)')
adding_columns(name='Netflix_UL_DL',column1='Netflix DL (Bytes)',column2='Netflix UL (Bytes)')
adding_columns(name='Gaming_UL_DL',column1='Gaming DL (Bytes)',column2='Gaming UL (Bytes)')
adding_columns(name='Other_UL_DL',column1='Other DL (Bytes)',column2='Other UL (Bytes)')

In [62]:
# Aggregating per user the Total_UL_DL column

user_grp = df.groupby(['MSISDN/Number'])
user_grp['Total_UL_DL'].agg(['min','max','mean','median','sum']).head(10)

,min,max,mean,median,sum
MSISDN/Number,,,,,
3197020876596,232123971.0,232123971.0,232123971.0,232123971.0,2.321240e+08
33601001722,878690574.0,878690574.0,878690574.0,878690574.0,8.786906e+08
33601001754,156859643.0,156859643.0,156859643.0,156859643.0,1.568596e+08
33601002511,595966483.0,595966483.0,595966483.0,595966483.0,5.959665e+08
33601007832,422320698.0,422320698.0,422320698.0,422320698.0,4.223207e+08
33601008617,585578364.0,871832580.0,728705472.0,728705472.0,1.457411e+09
33601010682,194367933.0,420849288.0,307608610.5,307608610.5,6.152172e+08
33601011634,199050991.0,455672075.0,327361533.0,327361533.0,6.547231e+08
33601011959,332660357.0,332660357.0,332660357.0,332660357.0,3.326604e+08
33601014694,344769857.0,645362332.0,495066094.5,495066094.5,9.901322e+08

In [64]:
# Aggregating per user the Social Media_UL_DL column

user_grp = df.groupby(['MSISDN/Number'])
user_grp['Social Media_UL_DL'].agg(['min','max','mean','median','sum']).head(10)

                     min        max       mean     median        sum
MSISDN/Number
3197020876596   715224.0   715224.0   715224.0   715224.0   715224.0
33601001722    2232135.0  2232135.0  2232135.0  2232135.0  2232135.0
33601001754    2660565.0  2660565.0  2660565.0  2660565.0  2660565.0
33601002511    3195623.0  3195623.0  3195623.0  3195623.0  3195623.0
33601007832     280294.0   280294.0   280294.0   280294.0   280294.0
33601008617    1388485.0  1524057.0  1456271.0  1456271.0  2912542.0
33601010682     993654.0  2799258.0  1896456.0  1896456.0  3792912.0
33601011634     414264.0  2355363.0  1384813.5  1384813.5  2769627.0
33601011959    1782692.0  1782692.0  1782692.0  1782692.0  1782692.0
33601014694    2593845.0  2694840.0  2644342.5  2644342.5  5288685.0

In [66]:
# Aggregating per user the Google_UL_DL column

user_grp = df.groupby(['MSISDN/Number'])
user_grp['Google_UL_DL'].agg(['min','max','mean','median','sum']).head(10)

                      min         max        mean      median         sum
MSISDN/Number
3197020876596  10438660.0  10438660.0  10438660.0  10438660.0  10438660.0
33601001722     4389005.0   4389005.0   4389005.0   4389005.0   4389005.0
33601001754     5334863.0   5334863.0   5334863.0   5334863.0   5334863.0
33601002511     3443126.0   3443126.0   3443126.0   3443126.0   3443126.0
33601007832     9678493.0   9678493.0   9678493.0   9678493.0   9678493.0
33601008617     8328981.0  10170635.0   9249808.0   9249808.0  18499616.0
33601010682     2417450.0  12845684.0   7631567.0   7631567.0  15263134.0
33601011634     3869764.0   6326639.0   5098201.5   5098201.5  10196403.0
33601011959    12023614.0  12023614.0  12023614.0  12023614.0  12023614.0
33601014694     4242818.0   9891393.0   7067105.5   7067105.5  14134211.0

In [68]:
# Aggregating per user the Email_UL_DL column

user_grp = df.groupby(['MSISDN/Number'])
user_grp['Email_UL_DL'].agg(['min','max','mean','median','sum']).head(10)

                     min        max       mean     median         sum
MSISDN/Number
3197020876596  1684558.0  1684558.0  1684558.0  1684558.0   1684558.0
33601001722    1674800.0  1674800.0  1674800.0  1674800.0   1674800.0
33601001754    5657642.0  5657642.0  5657642.0  5657642.0   5657642.0
33601002511    4873000.0  4873000.0  4873000.0  4873000.0   4873000.0
33601007832    4357236.0  4357236.0  4357236.0  4357236.0   4357236.0
33601008617    1959718.0  2535898.0  2247808.0  2247808.0   4495616.0
33601010682    6278782.0  6748886.0  6513834.0  6513834.0  13027668.0
33601011634     627002.0   845890.0   736446.0   736446.0   1472892.0
33601011959    2561116.0  2561116.0  2561116.0  2561116.0   2561116.0
33601014694    1983404.0  5348658.0  3666031.0  3666031.0   7332062.0

In [69]:
# Aggregating per user the Youtube_UL_DL column

user_grp = df.groupby(['MSISDN/Number'])
user_grp['Youtube_UL_DL'].agg(['min','max','mean','median','sum']).head(10)

                      min         max        mean      median         sum
MSISDN/Number
3197020876596  19679778.0  19679778.0  19679778.0  19679778.0  19679778.0
33601001722    29800402.0  29800402.0  29800402.0  29800402.0  29800402.0
33601001754    10648502.0  10648502.0  10648502.0  10648502.0  10648502.0
33601002511     4274544.0   4274544.0   4274544.0   4274544.0   4274544.0
33601007832     8786246.0   8786246.0   8786246.0   8786246.0   8786246.0
33601008617     4624676.0  16055266.0  10339971.0  10339971.0  20679942.0
33601010682     2706208.0  21633276.0  12169742.0  12169742.0  24339484.0
33601011634     2303450.0   3678188.0   2990819.0   2990819.0   5981638.0
33601011959    10200206.0  10200206.0  10200206.0  10200206.0  10200206.0
33601014694    37000276.0  45379384.0  41189830.0  41189830.0  82379660.0

In [71]:
# Aggregating per user the Netflix_UL_DL column

user_grp = df.groupby(['MSISDN/Number'])
user_grp['Netflix_UL_DL'].agg(['min','max','mean','median','sum']).head(10)

                      min         max        mean      median         sum
MSISDN/Number
3197020876596  26592300.0  26592300.0  26592300.0  26592300.0  26592300.0
33601001722    27180981.0  27180981.0  27180981.0  27180981.0  27180981.0
33601001754    11221763.0  11221763.0  11221763.0  11221763.0  11221763.0
33601002511    19353900.0  19353900.0  19353900.0  19353900.0  19353900.0
33601007832     1942092.0   1942092.0   1942092.0   1942092.0   1942092.0
33601008617    21973110.0  27228614.0  24600862.0  24600862.0  49201724.0
33601010682     8579907.0  21735594.0  15157750.5  15157750.5  30315501.0
33601011634    14074942.0  31737455.0  22906198.5  22906198.5  45812397.0
33601011959    15292840.0  15292840.0  15292840.0  15292840.0  15292840.0
33601014694    13215392.0  41000725.0  27108058.5  27108058.5  54216117.0

In [72]:
# Aggregating per user the Gaming_UL_DL column

user_grp = df.groupby(['MSISDN/Number'])
user_grp['Gaming_UL_DL'].agg(['min','max','mean','median','sum']).head(10)

,min,max,mean,median,sum
MSISDN/Number,,,,,
3197020876596,178048738.0,178048738.0,178048738.0,178048738.0,1.780487e+08
33601001722,812458661.0,812458661.0,812458661.0,812458661.0,8.124587e+08
33601001754,119750078.0,119750078.0,119750078.0,119750078.0,1.197501e+08
33601002511,538827713.0,538827713.0,538827713.0,538827713.0,5.388277e+08
33601007832,391126127.0,391126127.0,391126127.0,391126127.0,3.911261e+08
33601008617,512232631.0,802565189.0,657398910.0,657398910.0,1.314798e+09
33601010682,126130650.0,385505137.0,255817893.5,255817893.5,5.116358e+08
33601011634,169429055.0,379032002.0,274230528.5,274230528.5,5.484611e+08
33601011959,282364397.0,282364397.0,282364397.0,282364397.0,2.823644e+08
33601014694,257712491.0,575375461.0,416543976.0,416543976.0,8.330880e+08

In [74]:
# Aggregating per user the Other_UL_DL column

user_grp = df.groupby(['MSISDN/Number'])
user_grp['Other_UL_DL'].agg(['min','max','mean','median','sum']).head(10)

,min,max,mean,median,sum
MSISDN/Number,,,,,
3197020876596,470526473.0,470526473.0,470526473.0,470526473.0,4.705265e+08
33601001722,386570872.0,386570872.0,386570872.0,386570872.0,3.865709e+08
33601001754,281710071.0,281710071.0,281710071.0,281710071.0,2.817101e+08
33601002511,501693672.0,501693672.0,501693672.0,501693672.0,5.016937e+08
33601007832,35279702.0,35279702.0,35279702.0,35279702.0,3.527970e+07
33601008617,85988660.0,718815824.0,402402242.0,402402242.0,8.048045e+08
33601010682,212253545.0,280119232.0,246186388.5,246186388.5,4.923728e+08
33601011634,16461170.0,208427543.0,112444356.5,112444356.5,2.248887e+08
33601011959,178201537.0,178201537.0,178201537.0,178201537.0,1.782015e+08
33601014694,463017134.0,578865858.0,520941496.0,520941496.0,1.041883e+09

## Exracting the important variables from the Dataset

In [76]:
df.isnull().sum()

Bearer Id                             0
Start                                 0
Start ms                              0
End                                   0
End ms                                0
Dur. (ms)                             0
IMSI                                  0
MSISDN/Number                         0
IMEI                                  0
Last Location Name                    0
Avg RTT DL (ms)                   27644
Avg RTT UL (ms)                   27625
Avg Bearer TP DL (kbps)               0
Avg Bearer TP UL (kbps)               0
TCP DL Retrans. Vol (Bytes)       87796
TCP UL Retrans. Vol (Bytes)       96192
DL TP < 50 Kbps (%)                 720
50 Kbps < DL TP < 250 Kbps (%)      720
250 Kbps < DL TP < 1 Mbps (%)       720
DL TP > 1 Mbps (%)                  720
UL TP < 10 Kbps (%)                 767
10 Kbps < UL TP < 50 Kbps (%)       767
50 Kbps < UL TP < 300 Kbps (%)      767
UL TP > 300 Kbps (%)                767
HTTP DL (Bytes)                   81171
HTTP UL (Bytes)                   81508
Activity Duration DL (ms)             0
Activity Duration UL (ms)             0
Dur. (ms).1                           0
Handset Manufacturer                  0
Handset Type                          0
Nb of sec with Vol DL < 6250B       721
Nb of sec with Vol UL < 1250B       768
Social Media DL (Bytes)               0
Social Media UL (Bytes)               0
Google DL (Bytes)                     0
Google UL (Bytes)                     0
Email DL (Bytes)                      0
Email UL (Bytes)                      0
Youtube DL (Bytes)                    0
Youtube UL (Bytes)                    0
Netflix DL (Bytes)                    0
Netflix UL (Bytes)                    0
Gaming DL (Bytes)                     0
Gaming UL (Bytes)                     0
Other DL (Bytes)                      0
Other UL (Bytes)                      0
Total UL (Bytes)                      0
Total DL (Bytes)                      0
Social Media_UL_DL                    0
Google_UL_DL                          0
Email_UL_DL                           0
Youtube_UL_DL                         0
Netflix_UL_DL                         0
Gaming_UL_DL                          0
Other_UL_DL                           0
Total_UL_DL                           0
dtype: int64

In [78]:
Skewness = df.skew(axis=0)
Skewness

Bearer Id                                NaN
Start ms                            0.000664
End ms                             -0.000751
Dur. (ms)                           3.963937
IMSI                             -269.730099
MSISDN/Number                     332.155856
IMEI                                1.069028
Avg RTT DL (ms)                    64.491396
Avg RTT UL (ms)                    28.559090
Avg Bearer TP DL (kbps)             2.590258
Avg Bearer TP UL (kbps)             4.500632
TCP DL Retrans. Vol (Bytes)        15.906851
TCP UL Retrans. Vol (Bytes)        83.638099
DL TP < 50 Kbps (%)                -2.300735
50 Kbps < DL TP < 250 Kbps (%)      3.277965
250 Kbps < DL TP < 1 Mbps (%)       4.575366
DL TP > 1 Mbps (%)                  5.363229
UL TP < 10 Kbps (%)                -8.997575
10 Kbps < UL TP < 50 Kbps (%)      10.961280
50 Kbps < UL TP < 300 Kbps (%)     21.885877
UL TP > 300 Kbps (%)               36.111207
HTTP DL (Bytes)                    38.740864
HTTP UL (Bytes)                    32.307532
Activity Duration DL (ms)           5.860738
Activity Duration UL (ms)           7.368050
Dur. (ms).1                         3.963938
Nb of sec with Vol DL < 6250B       9.035250
Nb of sec with Vol UL < 1250B       7.491286
Social Media DL (Bytes)            -0.001675
Social Media UL (Bytes)             0.000088
Google DL (Bytes)                  -0.008554
Google UL (Bytes)                   0.002540
Email DL (Bytes)                   -0.002433
Email UL (Bytes)                    0.007056
Youtube DL (Bytes)                  0.000141
Youtube UL (Bytes)                 -0.000929
Netflix DL (Bytes)                 -0.002360
Netflix UL (Bytes)                 -0.000072
Gaming DL (Bytes)                  -0.003627
Gaming UL (Bytes)                  -0.002107
Other DL (Bytes)                    0.001070
Other UL (Bytes)                    0.001584
Total UL (Bytes)                   -0.002512
Total DL (Bytes)                   -0.003316
Social Media_UL_DL                 -0.001678
Google_UL_DL                       -0.010831
Email_UL_DL                        -0.002433
Youtube_UL_DL                       0.000141
Netflix_UL_DL                      -0.000367
Gaming_UL_DL                       -0.003373
Other_UL_DL                         0.000920
Total_UL_DL                        -0.002583
dtype: float64

In [ ]:
# fill missing with ffill method or bfill for features